# Python
__pycache__/
*.pyc

# Claude Code
.claude/
CLAUDE.md
.claudeignore

# Build artifacts
*.egg-info/
build/
dist/

# KUKA proprietary material - never commit (copyright)
KUKA.RobotSensorInterface*.pdf
TestServer.exe
